<div id="navbar-special" class="col-2">
  <nav id="navbar-example3" class="navbar navbar-light flex-column align-items-stretch p-3">
    <p class="navbar-brand text-center" href="#">Menu</p>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" routerLink="/tableau-de-bord" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Statistiques</a>
      <a class="nav-link" routerLink="/tableau-de-bord/trouver-une-borne" routerLinkActive="active-menu">Trouver une borne</a>
      <a class="nav-link" routerLink="/tableau-de-bord/mes-reservations" routerLinkActive="active-menu">Mes réservations</a>
      <a class="nav-link" routerLink="/tableau-de-bord/mes-demandes-de-reservation" routerLinkActive="active-menu">Demandes de réservations</a>
      <a class="nav-link" routerLink="/tableau-de-bord/lieux-de-recharge" routerLinkActive="active-menu">Lieux de recharge</a>
    </nav>
  </nav>
</div>
