<div class="container table-blue">
  <h2 class="text-center">Adresses</h2>
  <div class="row d-flex justify-content-center gy-4">
    <div class="row justify-content-center">
      <div class="col text-center">
        <button class="btn button-style mb-4" (click)="openAddAddress()">Ajouter</button>
      </div>
    </div>
    <div class="row">
      @defer () {
        @for (address of addresses; track address.publicId) {
          <div class="col-md-4 mb-4">
            <app-address [address]="address"></app-address>
          </div>
        }
      } @loading {
        <app-loader></app-loader>
      } @placeholder {
        <div class="col-md-4 mb-4">
          <p>Page Mes Adresses</p>
        </div>
      } @error {
        <div class="col-md-12">
          <p class="text-danger">Erreur lors du chargement des adresses.</p>
        </div>
      }
    </div>
    <!--
      }
    -->
  </div>
