.form-switch .form-check-input, .form-switch .form-check-input:focus, .form-check-input:checked {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23233B6E'/%3e%3c/svg%3e");
}
