<section id="lieux-de-recharge">
  <div class="container table-blue">
    <h2 class="text-center">Lieux de recharge</h2>
    <div class="row d-flex gy-4">
      <div class="col">
        <app-my-recharging-point></app-my-recharging-point>
      </div>
      <div class="col">
        <app-my-recharging-point></app-my-recharging-point>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col text-center">
        <a class="btn button-style text-center" href="#">Ajouter un lieu</a>
      </div>
    </div>
  </div>
</section>
