<div class="table-blue">
  <form class="row g-3 needs-validation" [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="passwordUserUpdateUser" class="form-label">Mot de passe *</label>
      <input type="password" class="form-control" id="passwordUserUpdateUser" formControlName="passwordUser" placeholder="mot de passe" required>
      <app-error-from [fieldName]="'passwordUser'" [nameFormGroup]="updateUserForm" [isSubmitted]="isSubmitted"></app-error-from>
    </div>
    <div class="mb-3">
      <label for="passwordUserUpdateUse" class="form-label">Confirmation de Mot de passe *</label>
      <input type="password" class="form-control" id="passwordUserUpdateUse" formControlName="passwordUserValidation" placeholder="mot de passe" required>
      <app-error-from [fieldName]="'passwordUserValidation'" [nameFormGroup]="updateUserForm" [isSubmitted]="isSubmitted"></app-error-from>
    </div>
    <div class="col-12 d-flex justify-content-around">
      <button class="btn button-style" type="submit">Valider</button>
      <button class="btn button-style" (click)="onNoClick()">Annuler</button>
    </div>
  </form>
</div>
