<div class="borne-card">
  <div class="">
    <div class="borne-image">
      <div class="title">
        <h4 class="">Borne 1</h4>
        <div class="icons-bornes">
          <a aria-label="voir informations borne"><i class="fa-solid fa-eye"></i></a>
          <a aria-label="modifier informations borne"><i class="fa-solid fa-pen"></i></a>
          <a (click)="clickDelete()" aria-label="supprimer informations borne"><i class="fa-solid fa-xmark"></i></a>
        </div>
      </div>
      <img src="./assets/images/borne_electrique_3.webp" alt="">
      <div class=""><p>Tarifs horaires : 0.20 €/min</p></div>
    </div>
  </div>
</div>
