<h1 id="h1">MENTIONS LÉGALES</h1>

<div class="container">

  <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Electricity Buisness l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>

  <h2>Edition du site</h2>

  <p>Le présent site, accessible à l’URL electricity-buisness.fr (le « Site »), est édité par :</p>
  <p>Electricity Buisness , société au capital de 1000 euros, inscrite au R.C.S. de CLERMONT-FERRAND sous le numéro A 123 456 789, dont le siège social est situé au 1 rue Machin, 63000 Clermont-Ferrand, représenté(e) par Jean Dupont dûment habilité(e)</p>
  <p>Le numéro individuel TVA de l’éditeur est : FR 40 123456789.</p>

  <h2>Hébergement</h2>

  <p>Le Site est hébergé par la société Site Hébergeur, situé 1 rue Machin, 63000 Clermont-Ferrand, (contact téléphonique ou email : +33123456789).</p>

  <h2>Directeur de publication</h2>

  <p>Le Directeur de la publication du Site est Jean Dupont.</p>

  <h2>Nous contacter</h2>

  <p>Par téléphone : +33123456789</p>
  <p>Par email : electricity-buisnessgmail.com</p>
  <p>Par courrier : 1 rue Machin, 63000 Clermont-Ferrand</p>

</div>
