<footer role="contentinfo">
  <div class="container-fluid d-flex flex-column gap-4 justify-content-center">
    <div class="row gy-2">
      <div class="col-12 col-md-4 text-center text-md-start">
<!--        <a class="link-logo" routerLink="">
          <img [src]="imgLogo" alt="Logo Electricity Buisness">
        </a>-->
        <app-logo></app-logo>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">
        <h2>Navigation</h2>
        <nav>
          <ul>
            <li><a href="/mention-legales#h1" aria-label="lien mention légales">Mention légales</a></li>
            <li><a href="/cgu#h1" aria-label="lien conditions générales d'utilisations">C.G.U</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-4 d-flex g-col-6 justify-content-center align-items-center">
        <div id="social-network" class="row">
          <div class="col"><a href="#" aria-label="lien instagram"><i class="fa-brands fa-instagram"></i></a></div>
          <div class="col"><a href="#" aria-label="lien linkedin"><i class="fa-brands fa-linkedin-in"></i></a></div>
          <div class="col"><a href="#" aria-label="lien youtube"><i class="fa-brands fa-youtube"></i></a></div>
          <div class="col"><a href="#" aria-label="lien facebook"><i class="fa-brands fa-facebook-f"></i></a></div>
          <div class="col"><a href="#" aria-label="lien twitter"><i class="fa-brands fa-x-twitter"></i></a></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div id="copyright" class="col justify-content-center">
        <p class="text-center">© 2025 - Tous droit réservé</p>
      </div>
    </div>
  </div>

</footer>
